<div class="key-data-container">
    <div class="key-data-title">
        <div class="title">{{'KEY_DATA.TITLE' | translate}}</div>
        <div class="seperator"> | </div>
        <div class="subject-links-container">
            <div class="subject-links">{{'KEY_DATA.SUBJECTS_LINKS' | translate}}</div>
            <div *ngIf="isLinksOpen" class="subject-links-option-container">
                <div class="option-1">
                    <div class="logo">&#64;</div>
                    <div class="option-content">
                        <div class="option-title">option title</div>
                        <div class="option-link">option link</div>
                    </div>
                </div>
                <div class="option-2">
                    <div class="logo">&#64;</div>
                    <div class="option-content">
                        <div class="option-title">option title</div>
                        <div class="option-link-description">option link description</div>
                        <div class="option-link">option link</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="graphs">


        <app-general-graph-card class="card"
        [title]="('KEY_DATA.CARD1.TITLE' | translate)"
        [graph]="chartOptions"
        [showFilter]="false"
        [share]="('KEY_DATA.SHARE' | translate)"
        [download]="('KEY_DATA.DOWNLOAD' | translate)"
        ></app-general-graph-card>



        <app-general-graph-card class="card"
        [title]="('KEY_DATA.CARD2.TITLE' | translate)"
        [graph]="option"
        [showFilter]="true"
        [share]="('KEY_DATA.SHARE' | translate)"
        [download]="('KEY_DATA.DOWNLOAD' | translate)"
        >
        <div class="filter">
            <button (click)="openGraphFilter()">
                {{selectedPeriod}}
                <span> ></span>
            </button>
            <div class="panel" *ngIf="isGraphFilterOpen">
                <div class="options-wrapper">
                    <form [formGroup]="dailyCasesFilterForm">
                        <div class="graph-options">
                            <strong>{{'KEY_DATA.CARD2.GRAPH.FILTER_TITLE' | translate}}</strong>
                            <div *ngFor="let p of periods">
                              <label>
                                <input type="radio" formControlName="period" [value]="p.value">
                                {{ p.label }}
                              </label>
                              
                            </div>
                        </div>
                        
                        <div class="ok-cancel">
                            <button type="button" (click)="onOk()">{{'KEY_DATA.CARD2.GRAPH.OK' | translate}}</button>
                            <button type="button" (click)="onCancel()">{{'KEY_DATA.CARD2.GRAPH.CANCEL' | translate}}</button>
                        </div>
                    </form>
                </div>
                <div class="actions"></div>
            </div>
        </div>
        </app-general-graph-card>
    </div>
</div>
