<div class="additional-data-container">
    <div class="additional-data-title">
        <div class="title"></div>
        <div class="seperator"></div>
        <div class="subject-links">
            <div class="subject-links-option-container">
                <div class="option-1"></div>
                <div class="option-2"></div>
                <div class="option-3"></div>
            </div>
        </div>
    </div>
    <div class="graphs">
        <div class="graph-1">
            <!-- graph -->
        </div>
        <div class="graph-2">
            <!-- graph -->
        </div>
        
    </div>
</div>
